# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
._.DS_Store
*.d
src/._BaseLED.cpp
src/._BaseLED.h
src/._Matrix.cpp
src/._Matrix.h
src/._ofxRPiWS281x.h
src/._Utils.cpp
src/._Utils.h
